<!-- Two -->
<section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
      <h2>Recent Apex News</h2>
      <div class="features">
        <section class="mr-4" *ngFor="let listings of news" >
            <h5>{{ listings.title }}</h5>
            <img src="{{listings.img}}" />
            <p>{{ listings.short_desc }}</p>
            <i class="fas fa-external-link-square-alt"></i>
            <a href="{{listings.link}}" class="">Read more.</a>
        </section>
      </div>
    </div>
  </section>